body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: black;
}
body::-webkit-scrollbar-thumb {
    background: #443053;
}
code {
  font-family: "Dancing Script", cursive;
}
h5 {
    font-family: 'Montserrat Subrayada', sans-serif;
}
h4 {
    font-family: 'Roboto', sans-serif;
    color: #c67734;
}
.nav {
    display: flex;
    height: 100vh;
    width: 25vh;
    transition: ease-in-out 200ms;
    position: absolute;
    z-index: 1;
    box-shadow: 4px 9px 12px 6px #C67734;
}
.nav:hover {
    width: 35vh;
    transition: ease-in-out 200ms;
    z-index: 10;
}
.nav-btn {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.navBox {
    word-wrap:break-word;
    overflow-y: scroll;
    right: 0;
    z-index: 3;
    max-height: 28vh ;
}
.navBox::-webkit-scrollbar-track {
    background: black;
}
.navBox::-webkit-scrollbar-thumb {
    background: #c67734;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border: 0.25rem #c67734;
    border-radius: 1rem;
}
.navBox::-webkit-scrollbar {
    margin-left: 1rem;
    width: 0.5rem;
}
.nav-item-collapse {
    display: flex;
    height: 0px;
    
}
.nav-item-collapse div {
    display: none;
}
.nav-item-collapse-active {
    display: flex;
}

.drop-icon {
    display: inline;
    animation-name: drop-icon-unactive;
    animation-duration: 200ms;

}
.drop-icon-active {
    display: inline;
    animation-name: drop-icon-active;
    transform: rotate(180deg);
    animation-duration: 200ms;
}

.backgoundpage {
    display: flex;
    background: url("Sweet-S4.png") no-repeat center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
}
.chatbackground {
    display:  block;
    background: url("Sweet-space.png") no-repeat center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
}
.signuppagelink {
    width: 100%;
   
}
.render-chat {
    display: flex;
    justify-content: flex-end;
}
.messageform {
    z-index: 12;
    position: absolute;
    width: 80%;
    right: 0 ;
    box-shadow: -4px 7px 12px 6px #17A2B8;
}
.form-control {
    margin: 0 !important;
}
.chatbox {
    width: 80%;
    height: 80vh;
    word-wrap:break-word;
    overflow-y: scroll;
    right: 0;
    z-index: 10;
    background: url("Sweet-S3.png") no-repeat center fixed;
    box-shadow: -4px 5px 12px 6px #C67734;
    background-size: cover;
}
.chatbox::-webkit-scrollbar-track {
    background: black;
}
.chatbox::-webkit-scrollbar-thumb {
    background: #c67734;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border: 0.25rem #c67734;
    border-radius: 1rem;
}
.chatbox::-webkit-scrollbar {
    margin-left: 1rem;
    width: 0.5rem;
}
.startpage-container {
    display: flex !important;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}
.chatpage {
    display: block;
    justify-content: flex-end;
}
.input-group {
    width: 80%;
}

.form-control{
    margin: 3%;
}
.form-page{
    display: flex;
    justify-content: center;
}
.form-box {
    display: flex;
    height: fit-content;
    border: solid #c67734 4px;
    border-radius: 1rem;
    margin-top: 10%;
    max-width: 30rem !important;
}
.col {
    display:  inline !important;
    max-width: 18rem !important;
}
.row {
    display: inline-flex !important;
    align-items: center;
}
.btn{
    background-color: #443053; 
}
.btn:hover{ 
    background-color: black;
    color: #443053;
    text-decoration: none;
}
.card {
    border: none !important;
}
